# Default
*~
*.pyc
*.DS_Store

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml
/HW1/P4/.ipynb_checkpoints

## Directory-based project format:
.idea/
/HW1/P5/Keypair.pem
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
 .idea/workspace.xml
 .idea/tasks.xml
 .idea/dictionaries

# Sensitive or high-churn files:
 .idea/dataSources.ids
 .idea/dataSources.xml
 .idea/sqlDataSources.xml
 .idea/dynamic.xml
 .idea/uiDesigner.xml